/* INDEX HTML PAGE */

body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: rgb(251, 233, 208);
  background: linear-gradient(rgb(36, 72, 86) 0%, rgb(144, 174, 173) 5%, rgb(144, 174, 173) 95%, rgb(36, 72, 86) 100%)
}

#firstName {
  font-weight: 800;
  font-size: 16em;
}

#lastName {
  font-weight: 800;
  font-size: 16em;
  padding-left: 0%;
}