/* INDEX HTML PAGE */

body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: rgb(251, 233, 208);
  background: rgb(144, 174, 173);
  background-color: rgb(144, 174, 173);
}

#topWrapper {
  text-align: center;
}

#firstName {
  font-weight: 800;
  font-size: 14em;
  text-align: center;
  margin-bottom: -0.3em;
}

#lastName {
  font-weight: 800;
  font-size: 14em;
  margin-top: -0.3em;
}

#floatingText {
  width: 80%;
  height: 1.3em;
  margin-left: 10%;
  margin-right: 20%;
  font-size: 2.5em;
  padding: 5px 0 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(144, 174, 173);
  background-color: rgb(251, 233, 208);
  overflow: hidden;
  border-radius: 15px;
}

#floatingText p {
  animation: RightToLeft 100s infinite linear;
}

@keyframes RightToLeft {
  from {
    transform: translateX(5%)
  }

  to {
    transform: translateX(-45%)
  }
}

#letterBase {
  width: 1.2em;
  height: 4.1em;
  font-size: 2.8em;
  color: rgb(144, 174, 173);
  position: absolute;
  background-color: rgb(251, 233, 208);
  /* margin-right: 850px; */
  margin-bottom: 92px;
}

#bottomWrapper {
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
}

.nameSection {
  min-width: 1200px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.scroll {
  white-space: nowrap;
  margin: 0 2em;
}

.scroll div {
  display: flex;
  gap: 2em;
}