/* GENERAL */

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

/* MENU */

#hamburger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  padding: 20px;
  position: relative;
}

.line {
  height: 4px;
  width: 30px;
  background-color: rgb(251, 233, 208);
  position: relative;
  transition: all 0.3s ease;
}

#hamburger:hover .line1 {
  transform: translateY(9px);
}

#hamburger:hover .line2 {
  transform: translateY(-9px);
}

.navbar {
  display: flex;
  position: fixed;
  z-index: 5;
  width: 0;
  right: 0;
  height: 115px;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 1.5s ease;
}

.navbar.active-menu {
  width: 100%;
}

#menu-home {
  position: relative;
  top: 30%;
}

.nav-left {
  position: fixed;
  top: 2em;
  left: 2em;
}

.nav-right {
  position: fixed;
  top: 0.5em;
  right: 2em;
}

.nav-right .page-location {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

.social-links {
  padding: 0;
  margin: 0;
}

/* NAME SECTION */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 10px;
  display: inline;
  cursor: pointer;
}

a {
  text-decoration: none;
  padding: 0px 5px 0px 5px;
  color: rgb(251, 233, 208);
  transition: 0.2s ease-in-out;
  position: relative;
  z-index: 2;
}

strong {
  color: rgb(36, 72, 85);
}

a:hover {
  color: rgb(36, 72, 85);
}

body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: rgb(251, 233, 208);
  background-color: rgb(116, 150, 149);
  z-index: 0;
  margin: 0;
}

#topWrapper {
  text-align: center;
  top: 50%;
  animation: ExpandDown 2s forwards;
  animation-delay: 0.5s;
  opacity: 0;
  z-index: 0;
  position: relative;
}

#firstName {
  font-weight: 800;
  font-size: 10em;
  text-align: center;
  margin-bottom: -0.3em;
  position: relative;
  z-index: 0;
}

#lastName {
  font-weight: 800;
  font-size: 10em;
  margin-top: -0.3em;
}

#letterBase {
  width: 0.8em;
  height: 2.98em;
  font-size: 2.8em;
  color: rgb(144, 174, 173);
  position: absolute;
  background-color: rgb(251, 233, 208);
  margin-right: 536px;
  margin-bottom: 22px;
}

.scroll {
  width: 80%;
  margin-left: 15%;
  margin-right: 15%;
  white-space: nowrap;
}

#floatingText {
  width: 75%;
  height: 1.3em;
  margin-left: 12.5%;
  margin-right: 12.5%;
  font-size: 1.8em;
  padding: 5px 0 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(144, 174, 173);
  background-color: rgb(251, 233, 208);
  overflow: hidden;
  border-radius: 15px;
  animation: ExpandOutwards 3s;
}

#floatingText p {
  animation: RightToLeft 100s infinite linear;
}

#bottomWrapper {
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  animation: ExpandDown 2s forwards;
}

#nameSection {
  min-width: 600px;
  padding-top: 3.5em;
  padding-bottom: 4em;
  z-index: 0;
  position: relative;
}

.scroll div {
  display: flex;
  gap: 2em;
}

.fa-brands {
  font-size: 2.5em;
}

#arrow {
  opacity: 0;
  text-align: center;
  font-size: 3em;
  padding-bottom: 2em;
  animation: PointDown 2s infinite;
  animation-delay: 5s;
}

/* MAIN BODY */

#mainContent {
  position: absolute;
}

/* ABOUT ME */

.animate {
  opacity: 0;
}

.title {
  display: inline-block;
  font-size: 5em;
  padding-top: 0.5em;
  /* padding-bottom: 0.5em; */
}

.title.inView {
  animation: Appear 1s ease-in-out forwards;
}

#intro {
  display: inline-block;
  background-color: #9BB0AF;
  padding: 2em 20% 6em 20%;
}

.introduction.inView {
  animation: Appear 1s ease-in-out forwards;
}

/* EXPERIENCE */

#experience-title {
  padding: 1.5em 20% 0 20%;
}

.experience.inView {
  animation: Appear 1s ease-in-out forwards;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 50px auto;
}

.timeline.inView {
  opacity: 1;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: #fff;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: 0;
}

.timeline.inView::after {
  animation: moveline 6s linear forwards, fade 1s linear forwards;
}

.container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.inView {
  animation: movedown 1s linear forwards, fade 1s linear forwards;
}

.text-box {
  background: rgb(253, 244, 231);
  padding: 20px 30px;
  position: relative;
  border-radius: 8px;
  font-size: 15px;
  color: rgb(36, 72, 85);
}

.left-container {
  left: 0;
  width: 50%;
  box-sizing: border-box;
  position: relative;
}

.right-container {
  left: 50%;
  width: 50%;
  box-sizing: border-box;
  position: relative;
}

.container img {
  position: absolute;
  width: 50px;
  border-radius: 50%;
  top: 30px;
  background-color: whitesmoke;
  right: -25px
}

.right-container img {
  left: -25px;
}

.text-box h2 {
  margin-bottom: 5px;
  font-weight: 600;
}

.text-box small {
  display: inline-block;
  margin-bottom: 15px;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 30px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid rgb(253, 244, 231);
  left: 100%;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 30px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid rgb(253, 244, 231);
  right: 100%;
}

.container:nth-child(2) {
  animation-delay: 1.5s;
}

.container:nth-child(3) {
  animation-delay: 3s;
}

.container:nth-child(4) {
  animation-delay: 4.7s;
}

/* PROJECTS */

/* MISC. */

.custom-shape-divider-top-1753335391 {
    position: absolute;
    z-index: 2;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1753335391 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 70px;
}

.custom-shape-divider-top-1753335391 .shape-fill {
    fill: #749695;
}

.custom-shape-divider-top-1753371668 {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1753371668 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 67px;
}

.custom-shape-divider-top-1753371668 .shape-fill {
    fill: #9BB0AF;
}

/* KEYFRAMES */

@keyframes RightToLeft {
  from {
    transform: translateX(10%)
  }

  to {
    transform: translateX(-40%)
  }
}

@keyframes ExpandDown {
  from {
    transform: translateY(-150%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes ExpandOutwards {
  from {
    width: 20%;
  }

  to {
    width: 75%;
  }
}

@keyframes PointDown {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(30%);
    opacity: 1;
  }
}

@keyframes Fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes Appear {
  from {
    transform: translateY(50%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes SlideLeft {
  from {
    transform: translateX(20%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes SlideRight {
  from {
    transform: translateX(-20%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes moveline {
  from {
    height: 0%;
  }

  to {
    height: 100%;
  }
}

@keyframes movedown {
  from {
    opacity: 1;
    transform: translateY(-10%)
  }

  to {
    opacity: 1;
    transform: translateY(0%)
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* MOBILE PHONE DISPLAY SETTINGS */

@media screen and (max-width: 1100px) {
  /* INTRODUCTION */
  /* .links {
    top: 1.5em;
    left: 10%;
  }

  .links li {
    display: block;
  } */

  /* EXPERIENCE SECTION */
  .timeline {
    margin: 50px auto;
  }

  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }

  .text-box {
    font-size: 18px;
  }

  .text-box small {
    margin-bottom: 10px;
  }

  .right-container {
    left: 0;
  }

  .left-container img,
  .right-container img {
    left: 6px;
  }

  .right-container-arrow,
  .left-container-arrow {
    border-right: 15px solid rgb(253, 244, 231);
    border-left: 0;
    left: -15px
  }
}